pkgbase = linux-firmware-amlogic-ophub-git
	pkgdesc = Firmware files for Linux - mainly for AArch64 Amlogic platform, complete set, collected by ophub
	pkgver = 20231018.db9e26b.20240115.9b6d0b08
	pkgrel = 1
	url = https://github.com/ophub/firmware
	arch = any
	license = GPL2
	license = GPL3
	license = custom
	makedepends = git
	depends = linux-firmware
	conflicts = linux-firmware-amlogic-ophub
	replaces = linux-firmware-amlogic-ophub
	options = !strip
	source = git+https://github.com/ophub/firmware.git#branch=main
	sha256sums = SKIP

pkgname = linux-firmware-amlogic-ophub-git
